<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.liwudi.authservice.mapper.PublicVerifyMapper">

    <select id="findOne" parameterType="fun.liwudi.authservice.bean.PublicVerifyDto" resultType="fun.liwudi.authservice.bean.PublicVerifyDto">

    </select>

</mapper>